<div ng-include="'components/navbar/navbar.html'"></div>


<h1>Stock information will appear under here soon</h1>
<highchart id="chart1" config="chartConfig"></highchart>

<form action="" ng-submit="trackStock()">
 <label for="">Track New Stock</label>
 <input type="text" ng-model="stoctrack" val=''>
 <button >Track</button>

</form>
<div class="remove-buttons">
  <h3>Remove Stocks</h3>
  <div ng-repeat="but in buttons">
    <button>{{but}}</button>
  </div>
</div>
<pre>{{stoctrack}}</pre>
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |

  </div>
</footer>
