<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<h1>Welcome to Stock Graph</h1>
<p>You can add stocks by their symbol name and see their recent performance</p>
<highchart id="chart1" config="chartConfig"></highchart>

<form action="" ng-submit="trackStock()">
 <label for="">Track New Stock</label>
 <input type="text" ng-model="stoctrack" val=''>
 <button >Track</button>

</form>
<div class="remove-buttons">
  <h3>Remove Stocks</h3>
  <div ng-repeat="but in buttons">
    <button ng-click="removeBut(but)" id="{{but}}">{{but}}</button>
  </div>
  <button ng-click="resetTracking()">reset</button>
</div>
</div>
<footer class="footer">
      <p>Angular Fullstack v2.1.1 </p>

</footer>
